if ARM64

config ARMV8_MULTIENTRY
        bool "Enable multiple CPUs to enter into U-Boot"

config ARMV8_SET_SMPEN
        bool "Enable data coherency with other cores in cluster"
        help
          Cortex A53/57/72 cores require CPUECTLR_EL1.SMPEN set even
          for single core systems. Unfortunately write access to this
          register may be controlled by EL3/EL2 firmware. To be more
          precise, by default (if there is EL2/EL3 firmware running)
          this register is RO for NS EL1.
          This switch can be used to avoid writing to CPUECTLR_EL1,
          it can be safely enabled when El2/EL3 initialized SMPEN bit
          or when CPU implementation doesn't include that register.

config ARMV8_SPIN_TABLE
	bool "Support spin-table enable method"
	depends on ARMV8_MULTIENTRY && OF_LIBFDT
	help
	  Say Y here to support "spin-table" enable method for booting Linux.

	  To use this feature, you must do:
	    - Specify enable-method = "spin-table" in each CPU node in the
	      Device Tree you are using to boot the kernel
	    - Let secondary CPUs in U-Boot (in a board specific manner)
	      before the master CPU jumps to the kernel

	  U-Boot automatically does:
	    - Set "cpu-release-addr" property of each CPU node
	      (overwrites it if already exists).
	    - Reserve the code for the spin-table and the release address
	      via a /memreserve/ region in the Device Tree.

endif
