if TARGET_LS1012AFRWY

config SYS_BOARD
	default "ls1012afrwy"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "ls1012afrwy"

config SYS_LS_PFE_FW_ADDR
	hex "Flash address of PFE firmware"
	default 0x40020000

config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x40060000

config SYS_LS_PPA_ESBC_ADDR
	hex "PPA Firmware HDR Addr"
	default 0x401f4000

config SYS_LS_PFE_ESBC_ADDR
	hex "PFE Firmware HDR Addr"
	default 0x401f8000

endif
