
if TARGET_LS1046ARDB

config SYS_BOARD
	default "ls1046ardb"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "ls1046ardb"

config BAREMETAL
	bool "Enable baremetal"
	default y

config USB_COREID_SET
	bool "Enable USB for baremetal"
	default y
	depends on BAREMETAL

config USB_USB0_COREID
	int "USB0 is assigned to core1"
	default "1"
	depends on USB_COREID_SET

config USB_USB1_COREID
	int "USB1 is assigned to core2"
	default "2"
	depends on USB_COREID_SET

config USB_USB2_COREID
	int "USB2 is assigned to core3"
	default "3"
	depends on USB_COREID_SET

config USB_CTL_NUM
	int "USB Controller numbers "
	default "3"
	depends on USB_COREID_SET

config PCIE_COREID_SET
	bool "Enable PCIE for baremetal"
	default y
	depends on BAREMETAL

config PCIE_PCIE1_COREID
	int "PCIe1 is assigned to core0"
	default "0"
	depends on PCIE_COREID_SET

config PCIE_PCIE2_COREID
	int "PCIe2 is assigned to core1"
	default "1"
	depends on PCIE_COREID_SET

config PCIE_PCIE3_COREID
	int "PCIe3 is assigned to core2"
	default "2"
	depends on PCIE_COREID_SET

config PCIE_CTL_NUM
	int "PCIe Controller numbers "
	default "3"
	depends on PCIE_COREID_SET

source "board/freescale/common/Kconfig"
endif
