
if TARGET_LS2080AQDS

config SYS_BOARD
	default "ls2080aqds"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "ls2080aqds"

if SYS_LS_PPA_FW_IN_XIP

config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x580400000
endif

if (SYS_LS_PPA_FW_IN_XIP && QSPI_BOOT)

config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x20400000
endif

if (SYS_LS_PPA_FW_IN_MMC || SYS_LS_PPA_FW_IN_NAND)

config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x400000
endif

source "board/freescale/common/Kconfig"

endif
