if TARGET_LS1021AIOT

config SYS_BOARD
	default "ls1021aiot"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "ls102xa"

config SYS_CONFIG_NAME
	default "ls1021aiot"

choice
	prompt "Baremetal feature select"
	default BM_CAN
	depends on BAREMETAL
	help
	  For baremetal, GPIO3_15/27 and CAN3/4 has the same pins.
	  Therefore, we need to select the pins

config BM_CAN
	bool "Can3/4 supported"

config BM_GPIO
	bool "GPIO3_15/27 supported"

endchoice

source "board/freescale/common/Kconfig"

endif
