if TARGET_LS1021AIOT

config SYS_BOARD
	default "ls1021aiot"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "ls102xa"

config SYS_CONFIG_NAME
	default "ls1021aiot"

config USB_COREID_SET
	bool "Enable USB for baremetal"
	default y

config USB_USB0_COREID
	int "USB0 is assigned to core1"
	default "1"
	depends on USB_COREID_SET

config USB_CTL_NUM
	int "USB Controller numbers "
	default "1"
	depends on USB_COREID_SET

source "board/freescale/common/Kconfig"

endif
