/*
 * NXP ls1028a Simulator device tree source
 *
 * Copyright 2018-2019 NXP
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/dts-v1/;

#include "fsl-ls1028a.dtsi"

/ {
	model = "NXP Layerscape 1028a QDS Board";
	compatible = "fsl,ls1028a-qds", "fsl,ls1028a";
	aliases {
		spi0 = &fspi;
	};
};

&fspi {
	bus-num = <0>;
	status = "okay";

	qflash0: mt35xu512g@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <20000000>; /* TODO Need to chk*/
		reg = <0>;
	 };
};

&enetc_pcie {
        mdio {
                #address-cells=<0>;
                #size-cells=<1>;
                enetc_phy0: phy@0 {
                        reg = <2>;
                };
                ethernet@0 {
                        phy-mode = "sgmii";
                        phy-handle = <&enetc_phy0>;
                };
        };
};
