if TARGET_LS1088AQDS

config SYS_BOARD
	default "ls1088a"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "ls1088aqds"

if SYS_LS_PPA_FW_IN_XIP

config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x20400000
endif

if (SYS_LS_PPA_FW_IN_MMC || SYS_LS_PPA_FW_IN_NAND)

config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x400000
endif

source "board/freescale/common/Kconfig"
endif

if TARGET_LS1088ARDB

config SYS_BOARD
	default "ls1088a"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "ls1088ardb"

if SYS_LS_PPA_FW_IN_XIP

config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x20400000
endif

if (SYS_LS_PPA_FW_IN_MMC || SYS_LS_PPA_FW_IN_NAND)

config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x400000
endif

source "board/freescale/common/Kconfig"
endif
